.topbar {
  display: flex;
  justify-content: space-between;
  padding: 8px 0;
  border-bottom: black 1px solid;
}

.links-container {
  display: flex;
}

@media (max-width: 600px) {
  .topbar {
    padding-left: 16px;
    padding-right: 16px;
  }
  .links-container {
    gap: 8px;
  }
  .layout-container {
    margin: 8px 16px;
  }
}

@media (min-width: 601px) and (max-width: 1024px) {
  .topbar {
    padding-left: 32px;
    padding-right: 32px;
  }
  .links-container {
    gap: 16px;
  }
  .layout-container {
    margin: 16px auto;
    max-width: 560px;
  }
}

@media (min-width: 1025px) {
  .topbar {
    padding-left: 64px;
    padding-right: 64px;
  }
  .links-container {
    gap: 24px;
  }
  .layout-container {
    margin: 24px auto;
    max-width: 560px;
  }
}
