.word-container {
  display: flex;
  gap: 8px;
  flex-direction: column;
  border: black 1px solid;
  border-radius: 8px;
  padding: 16px;
}

.word-field {
  display: flex;
  gap: 8px;
}

.word-checkbox-field {
  cursor: pointer;
}

.word-buttons-group {
  display: flex;
  gap: 8px;
  margin-top: 24px;
}

.word-learned-label {
  margin-left: 4px;
}

.word-learned-checkbox {
  margin-left: 0;
}
