.word-container {
  display: flex;
  gap: 8px;
  flex-direction: column;
  border: black 1px solid;
  border-radius: 8px;
  padding: 16px;
}

.word-field {
  display: flex;
  gap: 8px;
}

.word-save-button {
  width: fit-content;
  margin-top: 8px;
}
