.card {
  border: black 1px solid;
  padding: 12px;
  border-radius: 8px;
  display: flex;
  align-items: start;
  justify-content: space-between;
}

.card-content {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.card-edit-icon {
  cursor: pointer;
}

.rating {
  display: flex;
  gap: 8px;
}

.rating-label {
  font-weight: 300;
}

.wordCard-learned-label {
  margin-left: 4px;
}

.wordCard-learned-checkbox {
  margin-left: 0;
}
