body {
  margin: 0;
  display: flex;
  min-height: 100vh;
}

#root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  min-width: 100%;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

button:disabled {
  cursor: auto;
}

button {
  cursor: pointer;
}

h1,
h2 {
  margin-top: 8px;
  margin-bottom: 8px;
}

input[type="checkbox"],
select {
  cursor: pointer;
}
